<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-others">
    <div class="row">
        <div class="column">
            <div class="sub-page-card">
                <h1>About me</h1>
            </div>
        </div>

        <div class="column">
            <img src="/images/about.jfif" class="sub-pages-img" alt="About">
        </div>

    </div>
    <div class="app-main">
        <div class="jumbotron big-white-container text-center">
            <div class="page-header-content pt-10">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <h1> My name is Neil O'Sullivan and im currently a 2nd year software development student in MTU.</h1>
                            <h1> And this is my Blog project website!</h1>

                        </div>
                    </div>
                </div>
            </div>
</div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>

</html>