<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-others">
    <div class="row">
        <div class="column">
            <div class="sub-page-card">
                <h1>Delete a Blog</h1>
            </div>
        </div>

        <div class="column">
            <img src="/images/delete.jfif" class="sub-pages-img" alt="DeleteBlog">
        </div>


        <div class="blog">
            <textarea type="text" class="search" placeholder=""></textarea>

        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>

</html>