<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<h1> Help </h1>
<p>Welcome to our Help Page</p>
<p> Need to work out your own content of the page</p>
<%- include('../partials/footer'); %>
</body>
</html>