<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-others">
    <div class="row">
        <div class="column">
            <div class="sub-page-card">
                <h1>Modify a blogs</h1>
            </div>
        </div>

        <div class="column">
            <img src="/images/modify.png" class="sub-pages-img" alt="Modify Blog">
        </div>

    </div>
</div>
<%- include('../partials/footer'); %>
</body>

</html>