<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header'); %>
<div class="app-others">
    <div class="row">
        <div class="column">
            <div class="sub-page-card">
            <h1>Write a blog!</h1>
            </div>
        </div>

        <div class="column">
            <img src="/images/blogHome.jpg" class="sub-pages-img" alt="Write Blog">
        </div>


        <div class="blog">
            <textarea type="text" class="title" placeholder="Title"></textarea>
            <textarea type="text" class="author" placeholder="Author"></textarea>
            <textarea type="text" class="date" placeholder="Date"></textarea>
            <textarea type="text" class="article" placeholder="Start writing here..."></textarea>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>

</html>