body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr {
  background-color: #fff;
  border-top: 2px dotted #8c8b8b;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  vertical-align:bottom;
}

.content+img{
  width: 100%;
  height: auto;
}