<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <section class="row">
          <h1>Home</h1>
        </section>
        <hr>
        <section class="content">
          <p style="height:300px;">Content Here...</p>
          <img src="http://localhost:3000/images/lychee.jpeg", title="FA bunch of lychee",alt="A bunch of lychee"/>
          <img src="http://localhost:3000/images/Waterchestnutcake.jpg", title="Yummy Asian Desert",alt="Yummy Asian Desert"/>
        </section>
      </main>
      <%- include('../partials/footer'); %>
    </div>
  </body>
</html>
