<footer class="text-muted">
    <div class="container">
        <% let year = (new Date()).getFullYear() %>
        <p class="float-right">
            &copy;<%= year %> Jing Hua Ye
        </p>
    </div>
</footer>
